  /* CSS CODE */
  @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600;700;800;900&display=swap');

*{
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    padding: 30px;
}

button{
  padding: 3px 10px;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  margin: 10px;
}

input{
  padding: 3px 10px;
  font-size: 18px;

}